<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax请求</title>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>

</head>
<body>


<h1> 案例一，表单发送ajax请求登录</h1>


<form action="">
    账号: <input type="text" name="username" id="username">
    密码: <input type="password" name="username" id="password">
    <input id="dl" type="button" value="登录">
    <div></div>

</form>

<hr>
<h1>案例2:添加用例，下拉选择</h1>

<form action="">

    项目：
    <select name="pro" id="pro">
            <option value="">请选择</option>
    </select>

    接口：
    <select name="inter" id="interface">
        <option value="">请选择</option>
    </select>


</form>


</body>
</html>